.wrap {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 100vh;
}
.hoverboard {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	max-width: 600px;
}
.square  {
	width: 16px;
	height: 16px;
	background-color: #945a7a52;
	margin: 2px;
	box-shadow: 0 0 #000;
	transition: 2.5s ease-in;
}

.square:hover {
	transition-duration: 0s;
}
