:root {
	--primary: #3dace4;
	--primary-light: #00bcd4;
	--text: #b6c2c9;
	--text-dark: #929FA5;
	--purple: #80207f;
	--purple-light: #d235d0;
}

$bk-lg: 992px;
$bk-md: 768px;
$bk-sm: 576px;
$bk-xsm: 380px;
